* {
    margin: 0;
    padding: 0;
}

.quotes-conatiner {
    width: 450px;
    height: max-content;
    margin: 200px auto;
    padding: 25px;
    background-color: royalblue;
    color: white;
}

.quote-text {
    margin: 30px 0;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quote-text h3::first-letter {
    text-transform: capitalize;
}

.quote-author {
    text-align: right;
    margin: 30px 0;
}

.newQuote {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

.newQuote button {
    padding: 8px 10px;
    outline: none;
    cursor: pointer;
}